.images li{
    display: inline-block;
    margin: 8px;
    border: 1px solid #2a6496;
    width: 200px;
    height: 200px;
    position: relative;
}
.images li a{
    position: absolute;
    right: 0;
    bottom: 0;
    background: #0e1f40;
    color: #FFF;
    padding: 10px;
}